@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book</title>
    @section scripts{
        <script src="~/Views/ReservationKO/Index.js"></script>
    }
</head>
<body>
    <div class="row" id="books-content">
        <div class="col-xs-10 col-xs-offset-1" style="margin-top: 10px;">
            <button type="button" class="btn btn-primary" data-bind="toggle: isVisible">Fazer uma reserva</button>
        </div>

        @* Lista de Reservas *@
        <div class="col-xs-12">
            <h2 style="text-align: center;">Reservas</h2>

            <div data-bind="visible:$root.reservations() == null || $root.reservations().length == 0 ">
                <p>Ainda não há reserva</p>
            </div>

            <div data-bind="visible: $root.reservations() != null && $root.reservations().length > 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Filial
                            </th>
                            <th>
                                Sala
                            </th>
                            <th>
                                Início
                            </th>
                            <th>
                                Até
                            </th>
                            <th>
                                Responsável
                            </th>
                            <th>
                                Descrição
                            </th>
                            <th style="text-align: center;">
                                Editar
                            </th>
                            <th style="text-align: center;">
                                Remover
                            </th>

                        </tr>
                    </thead>
                    <tbody data-bind="foreach: reservations">
                        <tr>
                            <td data-bind="text: $data.branchName"></td>
                            <td data-bind="text: $data.roomName"></td>
                            <td data-bind="text: $data.startdateFormated"></td>
                            <td data-bind="text: $data.enddateFormated"></td>
                            <td data-bind="text: $data.responsible"></td>
                            <td data-bind="text: $data.description"></td>
                            <td style="text-align: center;">
                                <a href="#" data-bind="click: $root.onEditClicked"><i class="glyphicon glyphicon-edit"></i></a>
                            </td>
                            <td style="text-align: center;">
                                <a href="#" data-bind="click: $root.onRemoveClicked"><i class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="pager-reservations" class="pager"></div>
            </div>
        </div>

        @* Modal para criação ou edição de reservas *@
        <div class="modal" data-bind="isVisible: $data.isVisible" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bind="toggle: isVisible" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Reserve uma sala</h4>
                    </div>
                    <div class="modal-body" data-bind="with: objModal">
                        <div class="form-group margin-bottom20">
                            <label class="control-label label-centralized col-lg-4">Filial:</label>
                            <select id="branch_fk" class="select-nice col-lg-8" data-bind="options: $root.branches, optionsValue:'id', optionsText: 'name',value: branch_fk, optionsCaption: 'Choose a Branch'"></select>
                        </div>
                        <br />
                        <div class="form-group margin-bottom20">
                            <label class="control-label label-centralized col-lg-4">Sala:</label>
                            <select id="room_fk" class="select-nice col-lg-8" data-bind="disable: !$root.hasSelectedBranch(), options: $root.linkedRooms, optionsValue:'id', optionsText: 'name',value: room_fk, optionsCaption: 'Choose a Room'"></select>
                        </div>

                        <br />
                        <div class="form-group margin-bottom20">
                            <label class="control-label label-centralized col-lg-4">Início:</label>
                            <input id="startdate" class="input-nice col-lg-4" type="text" data-bind="pickadate: startdate, pickadateOptions:{container: 'body'}" />
                            <input id="starttime" class="input-nice col-lg-4" type="text" data-bind="pickatime: starttime, pickatimeOptions:{container: 'body', clear: ''}" />
                        </div>
                        <br />
                        <div class="form-group margin-bottom20">
                            <label class="control-label label-centralized col-lg-4">Término:</label>
                            <input id="enddate" class="input-nice col-lg-4" type="text" data-bind="pickadate: enddate, pickadateOptions:{container: 'body'}" />
                            <input id="endtime" class="input-nice col-lg-4" type="text" data-bind="pickatime: endtime, pickatimeOptions:{container: 'body', clear: ''}" />
                        </div>

                        <br />
                        <div class="form-group margin-bottom20">
                            <label class="control-label label-centralized col-lg-4">Responsável:</label>
                            <input id="responsible" class="input-nice col-lg-8" type="text" data-bind="value: responsible" />
                        </div>
                        <br />
                        <div class="form-group margin-bottom20">
                            <label class="control-label label-centralized col-lg-4">Descrição:</label>
                            <input id="description" class="input-nice col-lg-8" type="text" data-bind="value: description" />
                        </div>
                        <br />
                        <div class="form-group margin-bottom20">
                            <label class="control-label label-centralized col-lg-4">Precisa de café?</label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" data-bind="checked: $root.hasCoffee">Sim</label>
                            </div>
                        </div>
                        <br />
                        <div class="form-group margin-bottom20" data-bind="visible: $root.hasCoffee">
                            <label class="control-label label-centralized col-lg-4">P/ quantas pessoas?</label>
                            <input id="coffee" class="input-nice col-lg-8" type="number" data-bind="value: coffee" />
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bind="toggle: $root.isVisible">Fechar</button>
                        <button type="button" class="btn btn-primary" data-bind="click: $root.onSaveClicked">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
