@{
    ViewBag.Title = "Calendar";
}
<link href="~/fullcalendar.print.css" media="print" rel="stylesheet" />

<h2>Calendar</h2>
<div id='calendar'></div>

<script>
    $(document).ready(function () {

        $('#calendar').fullCalendar({
            media: "print",
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
				{
				    title: 'All Day Event',
				    start: '2015-02-01'
				},
				{
				    title: 'Long Event',
				    start: '2015-02-07',
				    end: '2015-02-10'
				},
				{
				    title: 'Click for Google',
				    url: 'http://google.com/',
				    start: '2015-02-28'
				}
            ],
            dayClick: function (date, jsEvent, view) {

                alert('Clicked on: ' + date.format());
                alert('Current view: ' + view.name);

                // change the day's background color just for fun
                $(this).css('background-color', 'red');

            }
        });
    });
</script>