@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Banana Ltda Room Booking</h1>
    <p class="lead">Welcome to banana room booking app.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Calendar</h2>
        <p>In calendar you can choose when you want to reserve a room.</p>
        <p>@Html.ActionLink("Calendar", "Calendar", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Reservation</h2>
        <p>List or search for a reserve.</p>
        <p>@Html.ActionLink("Reservation - KO", "Index", "ReservationKO")</p>
    </div>
    <div class="col-md-4">
        <h2>Reservation</h2>
        <p>List or search for a reserve.</p>
        <p>@Html.ActionLink("Reservation - MVC", "Index", "ReservationMVC")</p>
    </div>
</div>